@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.error-message {
    color: #e74c3c;
    background-color: #fbeaea; 
    border: 1px solid #e74c3c;
    border-radius: 5px; 
    padding: 10px 15px; 
    width: 60%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-top: 30px; 
    font-weight: bold; 
    text-align: center; 
  }
  